[v-cloak] {
    display: none;
  }

.loading {
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.image {
    position:relative
}

.hide {
    position: absolute; 
    left: 0; 
    cursor: pointer;
    width: 100%;
}